#######################################
# Binaries / Executables
#######################################
gojinn
!gojinn/
gojinn-server
gojinn-signer
caddy
*.exe
*.dll
*.so
*.dylib
*.test
*.zip

#######################################
# Security / Keys
#######################################
*.priv
*.key
*.pub

#######################################
# Build Artifacts / Output
#######################################
bin/
build/
obj/
lib/
tmp/
functions/*.wasm

#######################################
# WASM
#######################################
*.wasm
!examples/**/*.wasm
.wasi-sdk/

#######################################
# Go
#######################################
vendor/
go.work
go.work.sum

#######################################
# Caddy
#######################################
Caddyfile
Caddyfile.secure
Caddyfile.mesh
caddy_data/
caddy_config/
autosave.json

#######################################
# Databases
#######################################
*.db
*.sqlite
*.sqlite3

#######################################
# Logs
#######################################
*.log

#######################################
# Python
#######################################
__pycache__/
*.pyc

#######################################
# IDEs & Editors
#######################################
.vscode/
.idea/
*.user
*.suo

#######################################
# OS
#######################################
.DS_Store
Thumbs.db